<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS Betting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>
<div class="container">
<h1>Natipuj ligu</h1>
    <form action="/italy" method="post">
        <p>
            <label  hidden ="id" class="sr-only">Key</label>
            <input hidden type="text" th:value="${user.id}" id="id" name="id" class="form-control" placeholder="Username" required autofocus>
        </p>
<table th:object="${italy}"  class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Poradie</th>
        <th scope="col">Klub</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1.</th>
        <td>
            <select th:field="${italy.place_1}" id="p1">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">2.</th>
        <td>
            <select th:field="${italy.place_2}" id="p2">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">3.</th>
        <td>
            <select th:field="${italy.place_3}" id="p3">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">4.</th>
        <td>
            <select th:field="${italy.place_4}" id="p4">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">5.</th>
        <td>
            <select th:field="${italy.place_5}" id="p5">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">6.</th>
        <td>
            <select th:field="${italy.place_6}" id="p6">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">7.</th>
        <td>
            <select th:field="${italy.place_7}" id="p7">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">8.</th>
        <td>
            <select th:field="${italy.place_8}" id="p8">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">9.</th>
        <td>
            <select th:field="${italy.place_9}" id="p9">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">10.</th>
        <td>
            <select th:field="${italy.place_10}" id="p10">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">11.</th>
        <td>
            <select th:field="${italy.place_11}" id="p11">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">12.</th>
        <td>
            <select th:field="${italy.place_12}" id="p12">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">13.</th>
        <td>
            <select th:field="${italy.place_13}" id="p13">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">14.</th>
        <td>
            <select th:field="${italy.place_14}" id="p14">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">15.</th>
        <td>
            <select th:field="${italy.place_15}" id="p15">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">16.</th>
        <td>
            <select th:field="${italy.place_16}" id="p16">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">17.</th>
        <td>
            <select th:field="${italy.place_17}" id="p17">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">18.</th>
        <td>
            <select th:field="${italy.place_18}" id="p18">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">19.</th>
        <td>
            <select th:field="${italy.place_19}" id="p19">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="row">20.</th>
        <td>
            <select th:field="${italy.place_20}" id="p20">
                <option value="null">Choose a team</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>


        <p><input  class="btn btn-primary" id="btn" type="submit" value="Submit" title="You must check bet before submit."/>
            <input class="btn btn-info" id="btnCheck" type="button" value="Check" />
            <!--<input class="btn btn-danger" type="reset" value="Reset" align="right"/>-->
        </p>
        <div id="description" class="description"></div>
    </form>

    <script src="scriptItaly.js"></script>
</div>

</body>
</html>